<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Document</title>
</head>

<body>
    <div class="conatiner">
        <div class="side-bar">
            <div class="logo">
                <div class="logo-image-wrapper">
                    <img src="../assets/image/logo.png" alt="">
                </div>
            </div>
            <div class="menu">
                <div class="menu-item">Home</div>
                <div class="menu-item">About</div>
                <div class="menu-item">Contact</div>
            </div>
        </div>
        <div class="main-window">
            <div class="input-product-data">
                <h2>Maxsulot qo'shish</h2>
                <div class="input-product-data-form">
                    <div>
                        <p>Nomi:</p>
                        <input type="text" placeholder="Maxsulot nomi" class="input-product-name">
                    </div>
                    <div>
                        <p>Kelish narxi</p>
                        <input type="number" placeholder="Kelish narxi" class="input-product-income-price">
                    </div>
                    <div>
                        <p>Sotilish narxi</p>
                        <input type="number" placeholder="Sotilish narxi" class="input-product-sell-price">
                    </div>
                    <div>
                        <p>Soni</p>
                        <input type="number" placeholder="soni" class="input-product-quantity">
                    </div>
                    <button>Saqlash</button>
                </div>
            </div>
            <div class="products-list"></div>
        </div>
    </div>
    <script src="../scripts/main.js"></script>
</body>

</html>